html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

/*all percentage-based sizes must inherit from parent block elements, and if any of those ancestors fail to specify a size, they are assumed to be sized at 0 x 0 pixels. That is why we add the code below*/
 #map {
        height: 50em;  
        width: 60%;
         
      }